# Bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Git files
.git/
.gitignore

# IDE files
.vscode/


# Temporary files
*.tmp
*.temp
