# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# Celery
celerybeat-schedule
*.pid

# Database
*.db

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Docker
docker-compose.override.yml
*.dockerignore

# VS Code
.vscode/
*.code-workspace

# MacOS / Windows
.DS_Store
Thumbs.db
