# Environments
.venv/
.env

# Python cache
__pycache__/
*.pyc

# Celery files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Test reports
.pytest_cache/
.coverage

# IDE files
.idea/
.vscode/
