# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Flask stuff
*.log

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# pipenv
Pipfile.lock

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# VS Code
.vscode/

# Docker
*.pid

# OS system files
.DS_Store
Thumbs.db
