# Core
fastapi
uvicorn

# Database
neo4j>=5.10.0

# Security
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1

# Celery & Redis
celery
redis

# HTTP Client
httpx

# Settings
pydantic-settings
pydantic[email]

anthropic
python-multipart
